<% for(let menu = 1; menu <= 2; menu++) { %>
<fieldset>
  <legend>Menu <%= menu %></legend>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Menu Name">

    <% for(let feature = 1; feature <= 3; feature++) { %>
    <fieldset>
      <legend>Feature <%= feature %></legend>

      <div class="items">
        <input type="text" class="form-control" placeholder="Title">

        <label class="btn btn-default">
          <input type="file" class="imgInput" accept="image/*">
          Upload image
        </label>
        <span class='label label-info'></span>
        <button type="button" class="btn btn-default" ng-click="clearMenuImg($event)">Clear</button>

        <div class="contents">
          <div class="button-group pull-right">
            <button type="button" class="btn btn-default" ng-click="newContentInput($event)">+</button>
            <button type="button" class="btn btn-default" ng-click="remContentInput($event)">-</button>
          </div>

          <input type="text" class="form-control" placeholder="Content">
        </div>
      </div>
    </fieldset>
    <% } %>
  </div>
</fieldset>
<% } %>
