<% for(let menu = 1; menu <= 3; menu++) { %>
<fieldset>
  <legend>Menu <%= menu %></legend>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Menu Name">

    <div class="contents">
      <div class="button-group pull-right">
        <button type="button" class="btn btn-default" ng-click="newContentInput($event)">+</button>
        <button type="button" class="btn btn-default" ng-click="remContentInput($event)">-</button>
      </div>

      <input type="text" class="form-control" placeholder="Content">
    </div>
  </div>
</fieldset>
<% } %>
