<ul>
  <% for(let i = 0; i < pageReqs.length; i++) { %>
  <li>
    <p><%= pageReqs[i].email %></p>
    <p><%= pageReqs[i].prefTemplate %></p>

    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-click="editReq('<%= pageReqs[i].email %>')">Edit</button>
      <button type="button" class="btn btn-default" ng-click="preview('<%= pageReqs[i].email %>')">Preview</button>
    </div>
  </li>
  <% } %>
</ul>
