<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/home.css">

    <script src="/javascripts/content_controller.js"></script>

    <title><%= title %></title>
  </head>

  <body ng-app="webgen" ng-controller="webgenCtrl">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">Webgen</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavBar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="signout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid text-center cont">
      <div class="row">
        <div class="col-sm-2 sidenav">
          <p>
          <button type="button" class="btn btn-primary btn-block" ng-click="reqPanel('newReq')">
            New request
          </button>
          </p>

          <p>
          <button type="button" class="btn btn-primary btn-block" ng-click="reqPanel('viewReq')">
            View request
          </button>
          </p>
        </div>

        <div class="col-sm-8">
          <div class="req-panel panel panel-default" ng-show="showReqPanel">
            <div class="panel-heading text-left">
              {{panelTitle}}
              <button type="button" class="close" ng-click="closePanel()">&times;</button>
            </div>

            <div class="panel-body text-left">
              <form ng-submit="submitContent()">
                <div class="form-group">
                  <label>Name </label>
                  <input type="text" class="form-control" ng-model="name" required>
                </div>

                <div class="form-group">
                  <label>Email </label>
                  <input type="email" class="form-control" ng-model="email" required>
                </div>

                <div class="form-group">
                  <label>Template </label>
                  <select id="templates" class="form-control" ng-change="selectTemp()" ng-model="prefTemplate" required>
                    <option ng-repeat="temp in tempAvail" value="{{temp.id}}">{{temp.name}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>About Us </label>
                  <input type="text" class="form-control" ng-model="aboutUs" required>
                </div>

                <div class="form-group">
                  <label>Tagline </label>
                  <input type="text" class="form-control" ng-model="tagline" required>
                </div>

                <div class="form-group">
                  <label>Line </label>
                  <input type="text" class="form-control" ng-model="line" required>
                </div>

                <div class="form-group">
                  <label>Country </label>
                  <input type="text" class="form-control" ng-model="country" required>
                </div>

                <div class="form-group">
                  <label>State </label>
                  <input type="text" class="form-control" ng-model="state" required>
                </div>

                <div class="form-group">
                  <label>City </label>
                  <input type="text" class="form-control" ng-model="city" required>
                </div>

                <div class="form-group">
                  <label>Pincode </label>
                  <input type="text" class="form-control" ng-model="pincode" required>
                </div>

                <div class="form-group">
                  <label>Description </label>
                  <input type="text" class="form-control" ng-model="description" required>
                </div>

                <div class="form-group">
                  <label>Established on </label>
                  <input type="text" class="form-control" id="datepicker-1" ng-model="established" required>
                </div>

                <div class="form-group">
                  <label class="btn btn-default">
                    <input type="file" file-model="logo" class="imgInput" accept="image/*">
                    Logo
                  </label>
                  <span class='label label-info'></span>
                  <button type="button" class="btn btn-default" ng-click="clearMenuImg($event)">Clear</button>
                </div>

                <div class="form-group">
                  <label class="btn btn-default">
                    <input type="file" file-model="banner" class="imgInput" accept="image/*">
                    Home Page Banner
                  </label>
                  <span class='label label-info'></span>
                  <button type="button" class="btn btn-default" ng-click="clearMenuImg($event)">Clear</button>
                </div>

                <fieldset class="non-listing-menu">
                  <legend>Non Listing Menus</legend>

                  <% include partials/non_listing_menus.ejs %>
                </fieldset>

                <fieldset class="listing-menu">
                  <legend>Listing Menus</legend>

                  <% include partials/listing_menus.ejs %>
                </fieldset>

                <input type="submit" class="btn btn-default" value="{{submitAction}}">
              </form>
            </div>
          </div>

          <div class="search-panel panel panel-default" ng-show="viewReq">
            <div class="panel-heading text-left">
              Search requests
              <button type="button" class="close" ng-click="closePanel()">&times;</button>
            </div>

            <div class="panel-body text-left">
              <div ng-form="searchForm">
                <div class="form-group">
                  <label>Email </label>
                  <input type="text" class="form-control" ng-model="clientEmail" required>
                </div>

                <button type="button" class="btn btn-default"
                  ng-click="search()" ng-disabled="searchForm.$invalid">Search</button>
              </div>
            </div>
          </div>

          <div class="search-res panel panel-default" ng-show="viewReq">
            <div class="panel-heading text-left">
              Results
            </div>

            <div class="panel-body text-left"></div>
          </div>
        </div>

        <div class="col-sm-2 sidenav">
          <div class="well">
            Manage new requests easily
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center">
      <p>Copyright</p>
    </footer>
  </body>
</html>
