<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/signin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

    <script type="text/javascript" src="/javascripts/signin.js" defer="true"></script>

    <title><%= title %></title>
  </head>

  <body ng-app="webgen" >
    <form class="signin" name="signinForm" ng-submit="signin()" ng-controller="signin">
      <div class="container">
        <h1>Sign in</h1>

        <hr />

        <label for="email"><b>Username</b></label>

        <input type="email" name="email" ng-model="email" required>

        <label for="password"><b>Password</b></label>

        <input type="password" name="password" ng-model="password" required>

        <button type="submit">Sign in</button>
      </div>
    </form>
  </body>
</html>
