<!DOCTYPE html>
<html>
  <head>
    <title>Wake up - <%= email %></title>
  </head>

  <body>
    <span><%= name %></span>
    <span><%= aboutUs %></span>
    <span><%= tagline %></span>
  </body>
</html>
