html, body {
    height: 100%;
}

.cont {
    height: 84%;
}

.row {
    height: 100%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.sidenav {
    padding-top: 20px;
    height: 100%;
    background-color: #f1f1f1;
}

.col-sm-8 {
    height: 100%;
}

.req-panel {
    height: 98%;
}

.req-panel .panel-heading {
    height: 9%;
}

.req-panel .panel-body {
    height: 91%;
    padding: 0;
}

.req-panel .panel-body > form {
    height: 100%;
    overflow: auto;
    padding: 3%;
}

.search-panel {
    height: auto;
}

.search-panel button:last-child {
    margin-bottom: 0;
}

.search-res {
    height: 55%;
}

.search-res .panel-body {
    max-height: 85%;
    overflow: auto;
}

.search-res .panel-body ul {
    list-style-type: none;
    padding: 0;
}

/* Using percentages does not make it look good on small screens */
.search-res .panel-body ul li {
    margin-bottom: 9px;
    padding: 15px;
    border: 1px solid skyblue;
}

footer {
    background-color: #555;
    color: white;
    padding: 1%;
}

.well {
    margin-bottom: 0;
}

.col-sm-8 {
    padding-top: 20px;
}

.req-panel fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    margin-bottom: 15px;
    padding: .35em .625em .75em;
}

.req-panel fieldset legend {
    display: block;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: inherit;
    color: #333;
    border-bottom: 0;
}

.req-panel fieldset input {
    margin-bottom: 2%;
}

.req-panel fieldset input:last-child {
    margin-bottom: 0;
}

.panel-body .imgInput {
    display: none;
}

.contents {
    margin-top: 1%;
}

.contents .button-group {
    margin-bottom: 1%;
}

@media screen and (min-width: 768px) {
    /* Need to add margin for scrolling */
    .panel-body input:last-child {
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .cont {
        height: auto;
    }
}
