body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
}

.signin {
    margin: 5px auto;
    width: 29%;
}

.container {
    padding: 16px;
    background-color: #f1f1f1;
}

hr {
    border: 1px solid #fefefe;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: White;
    padding: 4%;
    margin: 2% auto;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancel {
    padding: 4% 4%;
    background-color: #f44336;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }

    .cancel {
       width: 100%;
    }
}
